<%- include('head') %>
<%- include('navbar') %>
<script src="/axios/axios.min.js"></script>
<button onclick="ajaxSubmit()">Random</button>
<script>
    function ajaxSubmit(){
        axios({
        url : '/random',
        method : 'get',
        params : {min:1, max : 10},
        timeout :3000,
    }).then(result =>{
        alert('Number of random : ' + result.data.ra)

    }).catch(error => alert(error))   
    }
   
</script>
<%- include('footer') %>